<% if(locals.isAuthenticated) { %>
<main class= diveIndex>
  <div class= container>
    <div id="map" class="center-block" data-dives="<%= JSON.stringify(dives)%>" data-lat=51.515113 data-lng=-0.072051>  </div>
<% dives.forEach((dive) => { %>
  <div class="diveFeed">
    <div class="reviewByImg">
    <span class="reviewImg"><h2 class="reviewByImg" ><img class="profileImgNav img-circle" src="<%= dive.createdBy.imageSRC %>">  <a href="/users/<%= dive.createdBy.id %>"><%= dive.createdBy.username %></a></h2></span>

    </div>
    <img class="imageFeed img-rounded"src="<%= dive.imageSRC %>" alt="<%= dive.username %>">
    <p>
      <% while(dive.stars--) { %> &star; <% } %>
    </p>
    <a href="/dives/<%= dive.id %>">
    <h3 class="indexText"><%=  dive.diveSite %></h3>
    </a>
    <h4 class="indexText"><%=  dive.location %></h4>
    <h5 class="indexText date"><%= new Date(dive.date).toDateString() %></h5>
  </div>
<% }) %>

<% } else { %>
<h1> <i class="fa fa-hand-paper-o" aria-hidden="true">
you have to be logged in </i></h1>
<% } %>
</div>
</main>
