<% if(locals.isAuthenticated) { %>
    <div id="map" data-lat=51.515113 data-lng=-0.072051>  </div>

<% dives.forEach((dive) => { %>
  <div>
    <a href="/dives/<%= dive.id %>"> <h2>Reviewed by: <%=  dive.createdBy.username %></h2>
    <h3><%=  dive.diveSite %></h3>
    <h4><%=  dive.location %></h4>
    <h5><%= dive.date %></h5>
    <img src="<%= dive.imageSRC %>" alt="<%= dive.username %>">
      <p>
        <%= dive.review %><br>
      </p>
      <p>
        <% while(dive.stars--) { %> &star; <% } %>
      </p>
    </a>
  </div>
<% }) %>

<% } else { %>
<h1> you have to be logged in </h1>
<% } %>
