<div>
  <h2><%= dive.diveNo %></h2>
  <h2><%= dive.diveShop %></h2>
  <h3><%= dive.location %></h3>
  <h3><%= dive.diveTime %></h3>
  <h3><%= dive.diveSite %></h3>
  <p>
    <% while(dive.stars--) { %> &star; <% } %>
  </p>
  <h4><%= dive.date %></h4>
  <a href="/users/<%= dive.createdBy.id %>">Dive username: <%= dive.createdBy.username %></a>

  <p><h4>Animal Tags</h4>
  <%= dive.animalTags %><br>
  </p>

  <img src="<%= dive.imageSRC %>" alt="<%= dive.username %>">
  <p><h5>Review</h5>
    <%= dive.review %><br>
  </p>

  <% if(locals.isAuthenticated && dive.ownedBy(user)) { %>
    <a href="/dives/<%= dive.id %>/edit">Edit</a>
    <form method="POST" action="/dives/<%= dive.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete Review</button>
    </form>


  <% } %>


  <section>
    <h6>Comments</h6>
    <% dive.comments.forEach((comment) => { %>
      <small><%= comment.createdBy.username %></small>
      <p><%= comment.content %></p>

      <% if(locals.isAuthenticated && comment.ownedBy(user)) { %>
      <form method="POST" action="/dives/<%= dive.id %>/comments/<%= comment.id %>">
       <input type="hidden" name="_method" value="DELETE">
       <button>Delete</button>
       </form>
     <% } %>
    <% }) %>
  </section>

  <% if(locals.isAuthenticated) { %>
    <section>
      <h4>Leave a comment</h4>
      <form method="POST" action="/dives/<%= dive.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment"></textarea>
        <button class="button">Leave a comment</button>
      </form>
    </section>
  <% } %>
</div>
