<div class="container">
  <div class="userDives row">
    <div class="col-12">
      <div class="username">
        <h1 class="userShow"><%= showUser.username %></h1>
      </div>

      <div class="bio row">
        <div class="col-md-6">
          <img class= "profilePic" src="<%= showUser.imageSRC %>" alt="<%= showUser.username %>">

        </div>
        <div class="col-md-6 aboutMe">
          <h2>Bio</h2>
          <p><%= showUser.aboutMe %></p>
          <% if(locals.isAuthenticated && (user.id === showUser.id)) { %>
            <a href="/users/<%= showUser.id %>/edit" class="btn"><button class= "btn btn-danger btn-lg edDel">Edit</button></a>
            <form method="POST" action="/users/<%= showUser.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="reg btn btn-danger btn-lg edDel">Delete Account</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="userDives row">

  <% dives.forEach((dive) => { %>
    <div class="col-md-4">
      <a href="/dives/<%= dive.id %>">
      <div class="resources">
      <p>
        <% while(dive.stars--) { %> &star; <% } %>
      </p>
      </p>
      <img class="userImgs"src="<%= dive.imageSRC %>" alt="<%= dive.username %>">
        <p>
      <h3 class="indexText"><%=  dive.diveSite %></h3>
      <h4 class="indexText"><%=  dive.location %></h4>
      <h5 class="indexText Date"><%= new Date(dive.date).toDateString() %></h5>
        </p>
      </div>
      </a>
      </div>
  <% }) %>
</div>


</div>
